# dependencies
fastapi
uvicorn
pillow # image processing
aiofiles # file upload/storage
pymupdf # PDF processing
python-multipart # multipart/form-data support
python-dotenv # environment variables
requests # HTTP requests to Gemini API

# Run app
# uvicorn app.main:app --reload
# To run the app, use the command:
# uvicorn app.main:app --reload
# This will start the FastAPI server with live reloading enabled.
#Visit: http://127.0.0.1:8000
#Auto API Docs: http://127.0.0.1:8000/docs