# dependencies
fastapi
uvicorn
pillow # image processing
aiofiles # file upload/storage
transformers # Text summarization
torch # PyTorch for transformers requirement
pymupdf # PDF processing
python-multipart # multipart/form-data support

# Run app
# uvicorn app.main:app --reload
# To run the app, use the command:
# uvicorn app.main:app --reload
# This will start the FastAPI server with live reloading enabled.
#Visit: http://127.0.0.1:8000
#Auto API Docs: http://127.0.0.1:8000/docs